* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
  }
  
  .App {
    text-align: center;
  }
  
  header {
    background-color: #00274C;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header .logo {
    font-size: 18px;
  }
  
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 350px;
  }
  
  nav .section {
    background-color: #003DA5;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
  }
  
  nav .ready-for-dev {
    background-color: #008672;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
  }
  
  nav .dropdown {
    font-size: 12px;
    margin-left: 5px;
  }
  
  .settings-account {
    display: flex;
    gap: 15px;
  }
  
  .class-list {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
    margin: 50px auto;
  }
  
  .class-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }
  
  .class {
    padding: 20px;
    border-radius: 10px;
    color: white;
    font-size: 18px;
    text-align: center;
    flex-grow: 1;
  }
  
  .csci2011 {
    background-color: #3B83BD; /* Blue */
  }
  
  .writ1301w {
    background-color: #D64E46; /* Red */
  }
  
  .phys1302w {
    background-color: #8BC34A; /* Green */
  }
  
  .csci1933 {
    background-color: #6A4A99; /* Purple */
  }
  
  .add-class {
    padding: 10px;
    background-color: #e0e0e0;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    color: #333;
  }
  
  .add-class:hover {
    background-color: #d5d5d5;
  }
  
  .edit-hours {
    background-color: #003DA5;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
  }
  
  .edit-hours:hover {
    background-color: #00274C;
  }
  